/* =============
    FancyCarousel
============= */

#fancyCarousel{
    color: white;
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". fc .";
    margin: 50px 0;

    @include md{
        margin: 100px 0;
    }

    @include lg{
        grid-template-columns: auto 1200px auto;
    }

    #fc-grid-item{
        grid-area: fc;

        img{
            width: 100%;
        }

        .slide{
            height: 40vb;
            background-size: cover;
            background-position: center;
        }

        #fc-1{
            background-image: url("../img/image1.jpeg");
        }

        #fc-2{
            background-image: url("../img/image2.jpeg");
        }
        #fc-3{
            background-image: url("../img/image3.jpeg");
        }
        #fc-4{
            background-image: url("../img/image4.jpeg");
        }
    }
}
