/* =============
    Hero
============= */
#hero{
    margin-top: 158px;
    display: grid;
    grid-template-columns: 60% auto;

    section{
        div{
            h2{
                font-size: rem-calc(62);
            }

            #hero-title-container-top{
            }

            #hero-title-container{
                display: flex;
            }
            
            #hero-title-container-bottom{
            }
        }
        p{
            font-size: rem-calc(18);
            margin-top: 25px;
            

        }

        ul{
            font-size: rem-calc(20);
            margin-top: 25px;
            list-style: none;
        }
    }
    aside{
        img{
            width: 740px;
            height: 530px;
            margin-top: -78px;
            margin-left: -140px;
        }
    }

}