/* =============
Newsletter
============= */

.newsletter{
    background-color: var(--black);
    color: var(--gray);
    #copy{
            text-align: center;
            padding-bottom: 35px;
            padding-top: 35px;


    }
   
    
}
h2{
    color: var(--white);
}

form{ 
    border: 1px solid var(--gray);

    display: inline-block;
    border-radius: 5px;
    margin-top: 30px;

    input{
        border: none;
        background-color: var(--black);
        margin-left: 10px;
       
    }
}

section{

}

