/* =============
    Plans
============= */

#plans-intro{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;

    h2{
        font-size: rem-calc(44);
    }
    p{
        font-size: rem-calc(22);
    }
}

#main-grid-item{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}



section{
    h2{ 
        font-size: rem-calc(44); 
        font-weight: 600px; 
    } 
    h4{
        font-size: rem-calc(22);
        font-weight: 400px;
        color: var(--gray);
    }
    p{ 
        font-size: rem-calc(16); 
        font-weight: 400px; 
        padding: 10px; 
        color: var(--gray); 
    } 
} 

.gray-card{
    text-align: center;
    border: 0.5px solid var(--gray);
    border-radius: 10px;
    border: none;
    box-shadow: 0px 30px 50px 0px #03032510;
    height: 420px;
    width: 360px;
    padding-top: 50px;
    }

#purple-card{
    text-align: center;
    h4{
        color: var(--white);
    }
    border: 1px solid var(--purple);
    border-radius: 10px;
    background-color: var(--purple);
    color: var(--white);
    border: none;
    box-shadow: 0px 30px 50px 0px #03032510;
    height: 420px;
    width: 360px;
    padding-top: 50px;
    background-image: linear-gradient(to bottom, var(--purple) 35%, var(--white) 35%);
}




