/* =============
    Footer
============= */
footer{
    color: var(--white);

    #footer-top{
        background-color: var(--black);
        padding: 80px 0;
        display: grid;
        grid-template-columns: auto 1140px auto;
        grid-template-areas: ". top-grid-item .";

        p{
            margin-top: 30px;
            line-height: 1.5;
        }

        #footer-top-grid-item{
            grid-area: top-grid-item;

            display: grid;
            grid-template-columns: 40% 20% 20% auto;

            section{
                a:link, a:visited{
                    color: var(--lightgray);  
                    transition: 0.25s;
                    margin-bottom: 10px;
                }

                a:hover, a:active{
                    color: var(--blue);  
                    
                }
            } 
        }
    }
}
#footer-bottom{
    background-color: var(--black);
    padding: 70px 0;
    display: grid;
    grid-template-columns: auto 1140px auto;
    grid-template-areas: ". grid-item .";

    #footer-bottom-grid-item{
        grid-area: grid-item;

    }

}
#social-links{
    margin-top: 30px;
    display: flex;
    li{
        margin-right: 16px;
        a:link, a:visited{
            height: 40px;
            width: 40px;
            border: 1px solid var(--lightgray);
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.25s;
            color: var(--lightgray);
        }
        a:hover, a:active{
            background-color: var(--blue);
            color: var(--white);
            border: 1px solid var(--blue);
        }
    }
} 
