/* =============
    Header
============= */
header{
    padding: 23px 36px;
    margin-bottom: -200px;
    display: grid;
    grid-template-columns: 50% auto 0%;
    grid-template-areas: 
    "logo link"
    "nav nav" ;

    #logo-container{

        align-items: center;
        grid-area: logo;

    }
    #link-container{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        grid-area: link;
        position:relative; 
        top: -145px; 

    }
    nav{
        grid-area: nav;

    }


}