/* =============
    Header
============= */
header{
    display: grid;
    grid-template-columns: 38% auto;

    #logo-container{
        display: flex;
        align-items: center;
    }

    nav{
        ul{
            li{
                a{
                   color: var(--white);
                   font-size: rem-calc(18);
                }
            }
            #trial{
                a{
                }
            }
            .selected{
                a{
                    color: var(--blue);
                    font-size: rem-calc(18);
                 }
            }
        }
    }

}