/* =============
    Buttons
============= */
button{
    border: none;
}

.lightblue-btn{
    margin-top: 30px;
    background-color: var(--lightblue);
    color: var(--blue);
    padding: 15px 30px;
    border-radius: 5px;
}

.blue-btn{
    margin-top: 30px;
    background-color: var(--blue);
    color: var(--white);
    padding: 15px 30px;
    border-radius: 5px;
}