/* =============
    Buttons
============= */
button{
    border: none;
}

.blue-btn{
    background-color: var(--blue);
    color: var(--white);
    padding: 15px 30px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
