/* =============
    Typography
============= */

h1,h3,h4,h5{
    margin: 0;
    padding: 0;

}

h2{
    margin-top: 0px;
    margin-bottom: 25px;
}

p{
    margin: 0;
    padding: 5px;

}

ul{
    margin: 0;
    padding: 0;

}
